@{
  ViewData["Title"] = "Error";
}

<div class="alert alert-danger mt-4">
  <h4>Error</h4>
  <p>@ViewBag.ErrorMessage</p>
</div>

<a asp-controller="Product" asp-action="Index" class="btn btn-primary">
  Back to Products
</a>